/* Remove o padding lateral da sidebar para que o "divider ocupe toda a pagina */
.st-emotion-cache-qeahdt {
    padding: 1rem 0rem 6rem;}
.st-emotion-cache-qeahdt h1{
    padding-top: 0px;
}
/* alinha o texto do sobre mim no centro */
.st-emotion-cache-53f09r{
    text-align: center;
}

