/* Define a cor do link e da fonte de acordo com o tema escolhido */
#link, #link:visited{
    color:#fc7706;
}
#link:hover{
    /* Altera a cor do link quando o mouse está por cima */
    color:#f7c54f;
}

.st-cv, .st-b6{
    color: #fc7706;
}