/* Define a cor do link e da fonte de acordo com o tema escolhido */
#link, #link:visited{
    color:#00d355;
}
#link:hover{
    /* Altera a cor do link quando o mouse está por cima */
     color:rgb(159, 255, 229);
}

.st-cv, .st-b6{
    color: #00d355;
}