/* Define a cor do link e da fonte de acordo com o tema escolhido */
#link, #link:visited{
    color:#dc2924;
}
#link:hover{
    /* Altera a cor do link quando o mouse está por cima */
    color:#ff6d6d;
}

.st-cv, .st-b6{
    color: #dc2924;
}